# Byte-compiled / optimized / DLL files
*.py[cod]
*$py.class
__pycache__

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# jupyter notebook
.ipynb_checkpoints

# Unit test / coverage reports
htmlcov/
.coverage
.coverage.*
coverage.xml
.cache
.pytest_cache
.tox/

# Sphinx documentation
docs/_build/

# ide
# PyCharm
#  JetBrains specific template is maintained in a separate JetBrains.gitignore that can
#  be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#  and can be added to the global gitignore or merged into this file.  For a more nuclear
#  option (not recommended) you can uncomment the following to ignore the entire idea folder.
#.idea/
.spyderproject
.spyproject

# Mac
.DS_Store

# virtual environments
env
.env
env3
.env3
venv
.venv
venv3
.venv3
ENV/
env.bak/
venv.bak/

# vim
*.swp
*.swo
*.orig

# large data files
*.nii
*.nii.gz

# data
/eval_notebooks/myosegmenTUM/*/ImageData
eval_notebooks/myosegmenTUM/*/ImageData
/eval_notebooks/myosegmenTUM/*/SegmentationMasks
eval_notebooks/myosegmenTUM/*/SegmentationMasks
/eval_notebooks/ground_truths
eval_notebooks/ground_truths
/eval_notebooks/MuscleMap_segs
eval_notebooks/MuscleMap_segs
/eval_notebooks/MuscleMap_thigh_segs
eval_notebooks/MuscleMap_thigh_segs
eval_notebooks/dafne_thigh_results/*.npz
eval_notebooks/dafne_thigh_results/model_used
eval_notebooks/**/*.npz
eval_notebooks/*.npz
eval_notebooks/nnUNet_trained_models/
eval_notebooks/pretrained_segmentation_muscle.pt
eval_notebooks/multimodal_thigh_segs/
eval_notebooks/museg_thigh_segs/

copy_back.sh
bash_fat_frac_move.sh